/* START - Hides up and down arrows on input[type=number] */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance:textfield;
}
/* END - Hides up and down arrows on input[type=number] */


#logo1 {
    position: relative;
    top:8px;
}
html, body, .content {
   min-height: 100vh;
}

.main-heading {
    font-size: 100px;
    text-transform: uppercase;
    font-family: 'Squada One', cursive;
}

.sub-heading{
    color:#72B6D0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*font-family: 'Fredoka One', cursive;*/
    /*font-family: 'Luckiest Guy', cursive;*/
    /*font-family: 'Orbitron', sans-serif;*/
    /* font-family: 'Russo One', sans-serif; */
}

a {
    color:#333A40;
    text-transform: uppercase;
}

a:hover{
    color:#72B6D0;
    text-decoration: none;
}

.dark-text {
    color:rgb(25, 67, 83);
}

/* Footer styles */

footer > section > a {
    color:#72B6D0;
}

footer > section > a:hover {
    color:white;
}

.uppercase {
    text-transform: uppercase;
    text-decoration: underline;
}

.note {
    position: absolute;
    bottom:-140px;
    right:10px;
}

.custom-select{
    width: 30%;
}

.form-control{
    width: 30%;
}

/* Style the buttons that are used to open and close the accordion panel */

.orderButton {
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.orderButton:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
